*{border: 1px solid green}         /* *는 모든 선택자*/
h2 {color:blue; background-color:yellow;} /*태그선택자*/
#descript{background-color: pink} /*아이디 선택자*/
.bold{font-weight:bold;} /*클래스 선택자*/
/*ul>li{color: red;} /* 자식선택자*/
#first li{color:red;}
#second>li {color:blue;}